

body {
  font-family: "et-book", Georgia, serif;
  background-color:#f0f0f0;
  color: #111111; 
  padding: 0 5px 5px 5px;
}  


.banner {
  color: #f0f0f0;
  background-color: #111111d0; 
  font-size: 16px;
  padding: 6px 6px 4px 8px;
  margin: 0 0 8px 0; }
  .banner td {
    color: #f0f0f0; }
  .banner a,
  .banner td a {
    text-decoration: none;
    color: #f0f0f0; }
    .banner a:hover,
    .banner td a:hover {
      text-decoration: underline; }

a {
  text-decoration: none;
  color: #5b0f00; }
  a:visited {
    color: #96230c; }
  a:hover {
    text-decoration: underline;
    background-color: #e6e6b2; }


h1,h3 {
  font-weight: bold;
}

.feed {

  background-color: #e8e8e2;
  border: 1px solid #9E9E9E;
  padding: 0px 15px 15px 15px;
  margin-bottom:  12px;
}  
  
.item-published { white-space: nowrap; font-size: 12px; color: grey; }
.item-title     {  }

.item-time-ago-in-words { font-size: 12px; color: grey; }